<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="TimedServices" type="TimedService.Config.CustomSectionHandler, TimedService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ea5602d552481b5d"/>
    </configSections>
    <TimedServices>
      <!--The default file path for windows service is C:\Windows\SysWOW64\. So relative path is not a good idea. The abosulte path should be changed to suit your deployment-->
      <LogFilePath>C:\Users\Kelvin\Source\Repos\timed-service\src\TimedService\bin\Debug\log\TimedService_{0}.log</LogFilePath>
      <TimedServiceCommand Name="TestTimedService" Type="TimedService.TimedServiceCommands.Test, TimedService">
        <!--<RunAt>01:00:00</RunAt>-->
        <RunEvery>00:00:10</RunEvery>
      </TimedServiceCommand>
    </TimedServices>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>