<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TimedServices" type="TimedService.Config.CustomSectionHandler, TimedService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ea5602d552481b5d"/>
  </configSections>
  <TimedServices>
    <LogFilePath>TimedService_{0}.log</LogFilePath>
    <TimedServiceCommand Name="TestTimedService" Type="TimedService.TimedServiceCommands.TestTimedService, TimedService">
      <RunAt>01:00:00</RunAt>
    </TimedServiceCommand>
  </TimedServices>
</configuration>